body{
     background: #0300a7;
   color :rgb(192, 7, 7);
   margin:30px;
   font-family: "Momo Trust Display", sans-serif;
}

header {
  border-bottom: solid 2px rgb(0, 0, 0);
  padding: 7px;
  font-size: 20px;
  color:rgb(192, 2, 2);
}

section {
  background: rgb(0, 119, 255);
  padding-bottom:80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.chamada-texto {
  margin-right: 3%;
}